<launch>

  <node pkg="bime_final_rpi" name="wheel" type="mecanum_wheel_control.py" output="screen">
  </node>

  <node pkg="bime_final_rpi" name="ball_holder" type="ball_holder_control.py" output="screen">
  </node>

  <node pkg="bime_final_rpi" name="led" type="led_control.py" output="screen">
  </node>

  <node pkg="bime_final_rpi" name="buzzer" type="buzzer_control.py" output="screen">
  </node>

  <node pkg="bime_final_rpi" name="dht11" type="humidity_temperature_sense.py" output="screen">
  </node>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

</launch>
